<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ "/" | relative_url }}">
          <img src="/assets/images/transparent-image-ian.png" style="margin-bottom: -65px;" />
          {{ site.title | escape }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ "/" | relative_url }}">Home</a>
      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      <a class="sidebar-nav-item{% if page.url == '/topics/' %} active{% endif %}" href="/topics/">Topics Lectures</a>
      <a class="sidebar-nav-item{% if page.url == '/weekly/' %} active{% endif %}" href="/weekly/">Weekly Lectures</a>
      <a class="sidebar-nav-item{% if page.url == '/blog/' %} active{% endif %}" href="/blog/">Blog</a>
      <a class="sidebar-nav-item{% if page.url == '/mentor' %} active{% endif %}" href="/mentor">Mentorship</a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
