---
layout: default
---

<h1>Welcome</h1>
<p>
Welcome to Ian Bentley's personal website!  Ian is a Software Engineering educator who is currently working
individually with students.
</p>
<p>
Tune into Ian's <a href="/weekly">weekly lectures</a> for data structures and algorithms, tips and tricks
as well as deep dives into topics related to web application development.
</p>
<h2>Upcoming</h2>
<p>
  Ian is currently developing an online course for intermediate web developers with an interest in security.
  In this course we will cover, in depth, the principal tenants of web application security.  You will learn
  best practices to avoid being targetted by hackers, how to find vulnerabilities in your own site, and how
  to remedy vulnerabilities once they've been found.
</p>
